.mainContainor {
  .logo {
    width: 100%;
    text-align: center;
    .logo_box {
      padding: 20rpx;
      width: 160rpx;
      display: inline-block;
    }
  }

  .title {
    text-align: center;
    font-size: 48rpx;
  }
}

.codeImage {
  // width: 100%;
  // height: 200rpx;
  width: 162rpx;
  height: 72rpx;
  margin: auto;
  display: block;
}

.inputCode {
  border: 1px solid #999999;
  margin-left: 20rpx;
  font-size: 34rpx;
  text-align: center;
  padding: 10rpx 0;
}

.at-modal__content {
  min-height: auto;
  max-height: auto;
}
