@import "~taro-ui/dist/style/components/flex.scss";
@import "../../common.scss";

.actionBox {
  border-radius: 20rpx;
  padding: 10rpx 0rpx 30rpx 0rpx;

  .imageContainor {
    margin: auto;
    padding-bottom: 6rpx;

    .imageContainorInner {
      margin: auto;
      // width: 120rpx;
      // height: 120rpx;
      width: 100rpx;
      height: 100rpx;

      .imageContainorInnerIcon {
        // width: 120rpx;
        // height: 120rpx;
        width: 100rpx;
        height: 100rpx;
      }
    }
  }

  .textBox {
    height: 30rpx;

    .text {
      padding-top: 20rpx;
      font-size: 24px;
      color: #353535;
    }
  }
}
