@import "~taro-ui/dist/style/components/activity-indicator.scss";
@import "~taro-ui/dist/style/components/loading.scss";

.advertisingBoxContainor {
  height: 250rpx;
  // border-radius: 20rpx;
  overflow: hidden;
  .advertisingBox {
    height: 100%;
    border-radius: 8rpx;
    overflow: hidden;
    margin: 0 25rpx;
    position: relative;

    .advertisingItem {
      width: 100%;
      height: 100%;
    }
  }
}
